{
  "General": {
    "Version": "1.0.0"
  },
  "Modifiers": {
    "M0": {
      "vkCode": "vk1D",
      "DoublePressInterval": 300,
      "Fallback": "LAlt"
    },
    "M1": {
      "vkCode": "vk1C",
      "DoublePressInterval": 300,
      "Fallback": "LControl"
    }
  },
  "Triggers": {
    "DoubleTap": {
      "M0": "Launcher",
      "M1": "Phrases",
      "LShift": "Phrases",
      "LControl": "Clipboard",
      "RShift": "Launcher"
    },
    "Mouse": {
      "MButton": "Launcher"
    }
  },
  "Remaps": [
    {
      "Trigger": "vkF0",
      "Tap": "IMEToggle",
      "Comment": "CapsLock to IME Toggle"
    },
    {
      "Trigger": "h",
      "HoldM0": "Left",
      "HoldM1": "LControl+Left",
      "HoldBoth": "Home"
    },
    {
      "Trigger": "j",
      "HoldM0": "Down",
      "HoldM1": "LControl+Down",
      "HoldBoth": "PgDn"
    },
    {
      "Trigger": "k",
      "HoldM0": "Up",
      "HoldM1": "LControl+Up",
      "HoldBoth": "PgUp"
    },
    {
      "Trigger": "l",
      "HoldM0": "Right",
      "HoldM1": "LControl+Right",
      "HoldBoth": "End"
    }
  ],
  "Menus": {
    "Launcher": [{ "Label": "Google", "Action": "https://google.com" }],
    "Phrases": [{ "Label": "Signature", "Text": "Regards,\n[Name]" }],
    "Clipboard": {
      "MaxHistory": 50,
      "StripFormat": true,
      "ShowTimestamp": true,
      "MaxDisplayItems": 20
    }
  }
}
